<div class="ibox">
  <div class="ibox-title">
    <h5>修改密码</h5>
    <div class="ibox-tools">
    </div>
  </div>
  <div class="ibox-content">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-md-2 control-label">账号</label>
        <div class="col-md-10">
          <div class="form-control">
            {{vm.account.username}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">原密码</label>
        <div class="col-md-10">
          <input type="password" ng-model="vm.account.password" class="form-control" placeholder="请输入原密码">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">新密码</label>
        <div class="col-md-10">
          <input type="password" ng-model="vm.account.newPassword" class="form-control" placeholder="请输入新密码">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <button type="button" class="btn btn-primary" ng-click="vm.save()">保存修改</button>
          <!--<button type="button" class="btn btn-white" ng-click="vm.cancel()">取消</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
