<div class="ibox">
  <div class="ibox-title">
    <h5>添加推荐人</h5>
    <div class="ibox-tools">
      <a ng-click="vm.cancel()"><i class="fa fa-times"></i></a>
    </div>
  </div>
  <div class="ibox-content">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="" class="control-label col-md-2">推荐人</label>
        <div class="col-md-10">
          <input type="text" class="form-control" placeholder="请输入推荐人姓名" ng-model="vm.recommend.recommenders"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 btn btn-primary" ng-click="vm.save()" style="margin-left: 19%">保存</div>
      </div>
    </form>
  </div>
</div>
