<div class="ibox">
  <div class="ibox-title">
    <h5>复制课程</h5>
    <div class="ibox-tools">
      <a ng-click="vm.cancel()"><i class="fa fa-times"></i></a>
    </div>
  </div>
  <div class="ibox-content">
    <form class="form-horizontal" novalidate>
      <div class="form-group">
        <label class="col-md-2 control-label" for="">进修班名称</label>
        <div class="col-md-9">
          <!--<select placeholder="请选择进修班名称" ng-model="vm.courses.name" ng-options="i.id as i.name for i in vm.courseName"
                  class="chosen-select form-control">
            <option>请选择</option>
          </select>-->
          <input class="form-control" placeholder="请输入进修班名称" ng-model="vm.courses.name"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="">进修科室</label>
        <div class="col-md-9">
          <select class="form-control" placeholder="请选择科室名称" ng-model="vm.courses.department_id" ng-options="i.id as i.name for i in vm.departments">
            <option value="">请选择</option>
          </select>
        </div>
        <div class="col-md-1 control-label" style="text-align: left">
          <a ui-sref="admin.settings.department.list">立即添加</a>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="teachers">申请截止日期</label>
        <div class="col-md-9">
          <input type="text" date-time min-view="date" format="YYYY-MM-DD" timezone="Asia/Shanghai" auto-close="true"
                 ng-model="vm.courses.application_deadline" class="form-control" id="start_at">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="teachers">结果公布日期</label>
        <div class="col-md-9">
          <input type="text" date-time min-view="date" format="YYYY-MM-DD" timezone="Asia/Shanghai" auto-close="true"
                 ng-model="vm.courses.announcement_date" class="form-control" id="start_at">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="teachers">进修报到日期</label>
        <div class="col-md-9">
          <input type="text" date-time min-view="date" format="YYYY-MM-DD" timezone="Asia/Shanghai" auto-close="true"
                 ng-model="vm.courses.enrollment_date" class="form-control" id="start_at">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="teachers">进修结业日期</label>
        <div class="col-md-9">
          <input type="text" date-time min-view="date" format="YYYY-MM-DD" timezone="Asia/Shanghai" auto-close="true"
                 ng-model="vm.courses.graduation_date" class="form-control" id="start_at">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="">进修时间</label>
        <div class="col-md-9">
          <input type="text" class="form-control" placeholder="请输入进修所需时间" ng-model="vm.courses.period"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="address">进修费用</label>
        <div class="col-md-9">
          <input type="text" required ng-model="vm.courses.fee" class="form-control" id="address" placeholder="请输入进修费用">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="address">招收学员数</label>
        <div class="col-md-9">
          <input type="text" required ng-model="vm.courses.student_range" class="form-control" id="address" placeholder="请输入招收的学员人数">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="introduce">进修班介绍</label>
        <div class="col-md-9">
          <summernote height="300" lang="zh-CN" ng-model="vm.courses.detail_info" placeholder="请输入进修班介绍"></summernote>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="attachements">附件</label>
        <div class="col-md-9">
          <uploader files="vm.courses.attachments"></uploader>
        </div>
      </div>
    </form>
    <div>
      <div class="col-md-offset-2 btn btn-primary" ladda="vm.saving" ng-click="vm.save(false)">复制</div>
    </div>
  </div>
</div>
